<section class="coursebanner" style="background-image: url('../../assets/45friday_images/banner.png');">
  <div fxLayout="row wrap" class="Aligner">
    <div fxLayout="column">
      <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="100" fxFlex.lg="100" fxFlex.xl="100">
        <div class="image" fxHide.sm fxHide.xs fxLayoutAlign="start center">
          <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="100" fxFlex.lg="100" fxFlex.xl="100">
            <div class="icons padding10" *ngFor="let list of images">
              <a href="{{list.href}}" _target="blank">
                <img src="{{list.imgSrc}}" alt="{{list.imgAlt}}">
              </a>
            </div>
            <div fxLayout="row" fxHide.sm fxHide.xs fxHide.md>
              <div class="action1">
                <div class="bar"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</section>

<div class="section-padding">
  <div fxLayout="row" fxFlex="initial" fxHide.sm fxHide.xs fxLayoutAlign="start start" class="padding15">
    <div fxFlex.xs="10" fxFlex.sm="10" fxFlex.md="10" fxFlex.lg="10" fxFlex.xl="10" fxLayoutAlign="">
      <span id="mySpan">WHAT WE DO
        <div class="action">
          <div class="bar"></div>
        </div>
      </span>
    </div>
  </div>
  
  <div fxLayout="row wrap" fxLayoutAlign="space-around center">
    <div class=""   fxFlex.xs="90" fxFlex.sm="50" fxFlex.md="50" fxFlex.lg="25" fxFlex.xl="20" *ngFor="let item of data.overview">
      <div >
        <div fxLayout="row" fxLayoutAlign="space-around center">
          <div fxFlex="10">
          </div>
          <div fxFlex="90">
            <h3>
              <span>
                <img src={{item.imagesrc}} alt={{item.imagealt}}>
              </span>
              {{item.header}}
            </h3>
          </div>
        </div>
        <div fxLayout="row" fxLayoutAlign="space-around center">
          <div>
            <p class="">{{item.list}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<app-how-we-do></app-how-we-do>
<!-- <app-homeblog></app-homeblog> -->

<!-- <app-alternate-view></app-alternate-view> -->