
.content{
    border:2px solid black;
}
.heading p{
    font-size: 20px;
    text-align: center;
}
.row1 img{
  height: 283px;
  width:336px;
}
 .row2 img{
   height: 140px;
   width:99%;
 }
.row11{
//    width:710px;
   height: 140px;
 }
 .row11 img{
    width:768px;
     height:140px;
 }
  .row3 img{
     width:732px;
     height: 140px;
 }
 .row4 img{
     width:188px;
     height:600px;
}
.row5{
    width:20px;
    height: 20px;
}
.row5 img{
     width:350px;
     height: 253px;
 }
 .row6 img{
      width:100px;
     height:100px;
 }
 .row7 img{
   width:546px;
   height:260px;
 }
 .row8{
     width: 20px;
     height: 20px;
 }
 .row8 img{
    height: 336px;
    width: 284px;
}
.row9 img{
    width:295px;
  height: 336px;

} 
.row10 img{
    height: 336px;
    width:560px;
    
}
 .row12 img{
        width:242px;
        height: 140px;
    }
    .row13 img{
        width:602px;
    height: 258px;
    }