<div class="section-padding">
<div fxLayout="row" fxFlex="initial" fxHide.xs fxHide.sm fxLayoutAlign="start start" class="padding15">
  <div class="services" fxFlex.xs="10" fxFlex.sm="10" fxFlex.md="10" fxFlex.lg="10" fxFlex.xl="10">
    <span id="mySpan">HOW WE DO
        <div class="action">
            <div class="bar"></div>
          </div>
    </span>
  </div>
</div>

<div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column"  fxLayoutAlign="center stretch">
  <div fxFlex="30" fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="100"  fxFlex.lg="100" fxFlex.xl="30" style="background-color:#371195;color:#fff;font-weight: bold;">
  <div class="Title">
    <ul class="display">
      <li *ngFor="let item of data.listitem;let i = index" (click)="toggle(item.id,i)" style="cursor:pointer;font-weight:bold" [class.active]="i == selectedRow">{{item.name}}</li>
    </ul>
  </div>
  </div>
<div  fxFlex="70" fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="100" fxFlex.lg="100" fxFlex.xl="100" class="box" fxLayoutAlign="center center">
  <div class="content padding10" >
    <p>{{content}}</p>
  </div>
</div>
</div>