/* fixed social*/
#fixed-social {
    position: absolute;
    top: 380px;
 }
 
 #fixed-social a {
   color: #fff;
    display: block;
    height: 40px;
    position: relative;
    text-align: center;
     line-height: 30px;
    width: 40px;
    margin-left: 10px;
    z-index: 2;
    font-size: 30px;

 }
 
 #fixed-social a span {
     line-height: 40px;
     left: 60px;
     position: absolute;
     text-align: center;
     width: 120px;
     visibility: hidden;
     transition-duration: 0.5s;
     z-index: 1;
     opacity: 0;
 }
  
 #fixed-social-scroll a {
    color: #fff;;
     display: block;
     height: 40px;
     position: relative;
     text-align: center;
      line-height: 30px;
     width: 40px;
     margin-left: 10px;
     z-index: 2;
     font-size: 30px;
 
  }