.image{
    background-image: url('/assets/45friday_images/rectangle2.png');
    background-repeat: no-repeat;
    height: 60vh;
    width: 100%;
    background-size: cover;
}
.image1{
    background-image: url('/assets/45friday_images/rectangle1.png');
    background-repeat: no-repeat;
    height: 50vh;
    width: 100%;
    background-size: cover;
    border-radius: 10px;
}
h1{
    font-size:60px;
}
.Title{
    color:#fff;
}
.subtitle{
    color: #2e3192;
}
h3{
    font-size:30px;
    line-height: normal;
}
p{
    color: #2e3192;
}